<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sergioc6.stockserverandroid">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/stockserver_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:screenOrientation="portrait" android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:name=".Principal"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".Compras"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".RegistrarInsumo"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".RegistrarInsumoSuccess"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ConfirmarCompraSuccess"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".Proveedores"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ConsultarStock"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ConsultarStockQR"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ConsultarStockSuccess"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".BuscarInsumo"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".BuscarInsumoSuccess"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ObtenerSector"/>
        <activity android:label="@string/app_name" android:screenOrientation="portrait" android:noHistory = "true" android:name=".ObtenerSectorSuccess"/><!-- ATTENTION: This was auto-generated to add Google Play services to your project for

     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CAMERA2" />
    <uses-permission android:name="android.permission.CAMERA.AUTOFOCUS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

</manifest>